/* Page CSS */
header {

}

.tripdata {
    display: flex;
    flex-direction: row;
}

.stats {
    flex: 1;
}

.map {
    flex: 1;
}

.bike {
    height:50px;
    width:50px;
}

/* Map/SVG CSS */
.feature {
    fill: #ccf9fb;
    stroke: #004447;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.mesh {
    fill: none;
    stroke: #004447;
    stroke-width: 1px;
    stroke-linejoin: round;
}

svg .path {
    stroke-width: 2px;
    stroke: magenta;
}

